langchain==0.1.20
langchain-core==0.1.53
langchain-community==0.0.38
langchain-text-splitters==0.0.2
langsmith==0.1.147
chromadb==0.5.23
langchain-chroma==0.1.4
duckdb==0.10.2
sentence-transformers==2.6.1
torch>=2.1
wheel==0.45.1
psycopg2-binary
openai
rank_bm25
psycopg[binary]
